<base href="/hyugo-adventure/">
<header class="top">
    <p><a href="/index.html">PokéJourney</a></p>
</header>

<nav class="navbar navbar-expand-lg menu sticky-top">
    <div class="container">
        <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse"
            data-bs-target="#menuNav"></button>

        <div class="collapse navbar-collapse justify-content-center" id="menuNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#"
                        data-bs-toggle="dropdown">Games</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/pages/official-games.html">Official</a></li>
                        <li><a class="dropdown-item" href="/pages/hack-roms.html ">Hack Roms</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#"
                        data-bs-toggle="dropdown">Dex</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/pages/pokedex.html">Pokédex</a></li>
                        <li><a class="dropdown-item" href="/pages/hackdex.html">Hackdex</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
            </ul>
        </div>
    </div>
</nav>